:root {
  background-color: #f8f8f8;
  --primary-color: #193763;
  --secondary-color: #1e1e1e;
  --accent-color: #f89e00;
  --text-color: #e71111;
  --subtext-color: #dddddd;
  --placeholder-color: #888888;
}
